.formControls {
    margin-bottom: 1rem;
}

.lastElement {
    margin-bottom: 1.5rem;
}

.formControl {
    display: block;
    width: 100%;
    padding: .47rem .75rem;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #eff0f2;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    &:focus {
        border-color: #bbb5e7;
        background-color: #e9e7fb;
        outline: 0;
        box-shadow: none;
    }
}

.formLabel {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.invalid input {
    border-color: #ff6464;
    background: #fbdada;
}